{% extends 'base.html' %}

{% block content %}

<div>
    <!-- Carousel -->
    <section class="row-cols-12">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for item in carousel_objects %}
                {% if forloop.first %}
                <div class="carousel-item active">
                    <img src="{{ item.hero_image.url }}" class="d-block w-100 hero-img" alt="...">
                    <p class="hero-tagline px-4">{{ item.tagline_text }}</p>
                </div>
                {% else %}
                <div class="carousel-item">
                    <img src="{{ item.hero_image.url }}" class="d-block w-100" alt="...">
                    <p class="hero-tagline px-4">{{ item.tagline_text }}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Overview -->
    <section class="row mb-2 pb-2 body-content">
        <div class="col-md-12">
            <div class="row homepage-container">
                <div class="row">
                    <h1 class="my-3"><strong>Digital insights for a sustainable future</strong></h1>
                    <div class="subtext mb-4">
                        <h2>The <strong>C</strong>entre for <strong>C</strong>limate <strong>C</strong>ommunication and <strong>D</strong>ata <strong>S</strong>cience (C3DS) is an interdisciplinary research centre committed to developing innovative data science, AI, and social science approaches to support the transition towards a sustainable future. The Centre’s research aims to improve strategic communications to deliver meaningful action on climate change.</h2>
                    </div>
                </div>
            </div>

            <!-- Latest News -->
            <div class="row body-content">
                <div class="homepage-container">
                    <h1>Latest News</h1>
                    <a href="{% url 'news' %}" class="hover-link">Read more...</a>
                </div>
                <div class="container-fluid d-flex justify-content-center row row-cols-2 row-cols-sm-2 row-cols-md-3">
                    {% for item in news_card_objects|slice:"0:3" %}
                        <div class="card news-card my-3">
                            <img class="card-img-top" src="{{ item.card_image.url }}" alt="Card image cap">
                            <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p><em><small>Created on {{ item.date }}</small></em></p>
                            <p class="card-text pb-2">{{ item.short_summary }}</p>
                            <a href="{{ item.url }}" target="_blank" rel="noopener" class="btn news-btn">Read More</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Latest Research -->
            <div class="row body-content mt-4 pt-4">
                <div class="homepage-container">
                    <h1>Latest Research</h1>
                    <a href="#" class="hover-link">Read more...</a>
                </div>
                <div class="container-fluid d-flex justify-content-center row row-cols-2 row-cols-sm-2 row-cols-md-3">
                    {% for item in latest_research_card_objects|slice:"0:3" %}
                        <div class="card news-card my-3">
                            <img class="card-img-top overview-img" src="{{ item.card_image.url }}" alt="Card image cap">
                            <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p><em>{{ item.date }}</em></p>
                            <p class="card-text pb-2">{{ item.summary }}</p>
                            <a href="{{ item.url }}" target="_blank" rel="noopener" class="btn news-btn">Read More</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    <!-- Twitter Feed -->
        <!-- <div class="col-md-2 mr-4 twitter-display">
            <div class="row">
                <section class="">
                    <div class="">
                        <div class="text-left pt-3 twitter-display">
                            <h1 class="my-3">Follow us on Social Media</h1>
                        </div>
                        <div class="">
                            <a class="twitter-timeline" data-height="625" data-width="auto"
                                href="https://twitter.com/SaffronJONeill?ref_src=twsrc%5Etfw">Tweets by
                                SaffronJONeill</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </section>
            </div>
        </div> -->
    </section>

    <!-- Contact -->
    <section class="section-bkgrd py-4">
        <div class="container-fluid body-content">
            <div class="text-left py-4">
                <h1 class="my-3"><strong>Working with C3DS</strong></h1>
                <p>If you are an organisation that could benefit from applying data science and/or social science
                    methods to measure, monitor, and evaluate the impact of your strategic communication, please get in
                    touch</p>

                <h2><strong>Contact</strong></h2>
                <p>Email the Centre team at <a href="mailto:c3ds@exeter.ac.uk" class="link-colour">c3ds@exeter.ac.uk</a> for
                    more information or to set up a meeting</p>
            </div>
        </div>
    </section>

</div>

{% endblock %}