{% extends 'base.html' %}

{% block content %}

<div>
    <!-- Carousel -->
    <section class="row-cols-12">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                {% for item in carousel_objects %}
                {% if forloop.first %}
                <div class="carousel-item active">
                    <img src="{{ item.hero_image.url }}" class="d-block w-100" alt="...">
                    <p class="hero-tagline">{{ item.tagline_text }}</p>
                </div>
                {% else %}
                <div class="carousel-item">
                    <img src="{{ item.hero_image.url }}" class="d-block w-100" alt="...">
                    <p class="hero-tagline">{{ item.tagline_text }}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <!-- Overview -->
    <section class="container-fluid body-content">
        <div class="text-left inner-section-container">
            <h1 class="my-3"><strong>What we do</strong></h1>
            <div class="subtext">
                <h2>Combining state-of-the-art data science, AI, and social science methods to empower the environmental
                    movement.</h2>
                <h2>The Centre for Climate Communication and Data Science (C3DS) is an interdisciplinary research centre
                    commited to improving strategic communications to deliver meaningful action on climate change.</h2>
            </div>
        </div>
        <div class="row card-container pb-3">
            {% for item in overview_card_objects %}
            <div class="card-body col-12 col-sm-6">
                <a href="#" class="">
                    <h2 class="card-title pl-3">{{ item.title }}</h2>
                    <img src="{{ item.card_image.url }}" alt="" class="card-img">
                    <p class="pt-2 pl-2">{{ item.summary }}</p>
                </a>
            </div>
            {% if forloop.counter|divisibleby:2 %}
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <br>
    </section>

    <!-- Objectives -->
    <section class="overflow">
        <h1 class="my-4 text-center section-header pt-4"><strong>Core Objectives</strong></h1>
        <div class="row justify-content-center mt-4 pt-4">
            <div class="col-12 col-sm-3 text-center">
                <i class="fa-duotone fa-people-group objectives-icon pb-1"></i>
                <h2 class="pt-1">ENGAGING</h2>
                <p>strategic actors and communicators to improve media practice</p>
            </div>
            <div class="col-12 col-sm-3 mx-2 text-center">
                <i class="fa-duotone fa-file-chart-pie objectives-icon pb-1"></i>
                <h2 class="pt-1">EVALUATING</h2>
                <p>strategic communications by a range of diverse actors</p>
            </div>
            <div class="col-12 col-sm-3 text-center">
                <i class="fa-duotone fa-head-side-brain objectives-icon pb-1"></i>
                <h2 class="pt-1">UNDERSTANDING</h2>
                <p>the digital media ecosystem around climate change</p>
            </div>
        </div>
        <br><br>
        <div>
            <img class="screen-break-bottom"
                src="https://res.cloudinary.com/ddqyimddv/image/upload/v1692185905/newwave-cropped_ubfxhe.svg" alt="">
        </div>
    </section>

    <!-- Twitter Feed -->
    <section class="bkgrd-img">
        <div class="container-fluid body-content">
            <div class="text-left pt-3">
                <h1 class="my-3"><strong>Follow us on Social Media</strong></h1>
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 m-3 p-3 justify-content-center">
                <div class="justify-content-center my-3">
                    <a class="twitter-timeline" data-height="500" data-width="400"
                        href="https://twitter.com/SaffronJONeill?ref_src=twsrc%5Etfw">Tweets by SaffronJONeill</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="justify-content-center my-3">
                    <a class="twitter-timeline" data-height="500" data-width="400"
                        href="https://twitter.com/TravisCoan1?ref_src=twsrc%5Etfw">Tweets by TravisCoan1</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="pl-2 justify-content-center my-3">
                    <a class="twitter-timeline" data-height="500" data-width="400"
                        href="https://twitter.com/HywelTPWilliams?ref_src=twsrc%5Etfw">Tweets by HywelTPWilliams</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section class="contact-section">
        <div class="container-fluid body-content">
            <div class="text-left py-3">
                <h1 class="my-3"><strong>Working with C3DS</strong></h1>
                <p>If you are an organisation that could benefit from applying data science and/or social science
                    methods to measure, monitor, and evaluate the impact of your strategic communication, please get in
                    touch!</p>

                <h2><strong>Contact</strong></h2>
                <p>Prof. Coan at <a href="mailto:t.coan@exeter.ac.uk" class="link-colour">t.coan@exeter.ac.uk</a> for
                    more information or to set up a meeting</p>
            </div>
        </div>
    </section>

</div>

{% endblock %}