{% extends 'base.html' %}

{% block content %}

<div>
    <!-- Carousel -->
    <section class="row-cols-12">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                {% for item in carousel_objects %}
                {% if forloop.first %}
                <div class="carousel-item active">
                    <img src="{{ item.hero_image.url }}" class="d-block w-100" alt="...">
                    <p class="hero-tagline px-4">{{ item.tagline_text }}</p>
                </div>
                {% else %}
                <div class="carousel-item">
                    <img src="{{ item.hero_image.url }}" class="d-block w-100" alt="...">
                    <p class="hero-tagline px-4">{{ item.tagline_text }}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <!-- Overview -->
    <section class="row mb-2 pb-2 body-content">
        <div class="col-md-12">
            <div class="row homepage-container">
                <div class="row">
                    <h1 class="my-3"><strong>Digital insights for a sustainable future</strong></h1>
                    <div class="subtext mb-4">
                        <h2>Combining state-of-the-art data science, AI, and social science methods to empower the transition towards a sustainable future</h2>
                        <h2>The Centre for Climate Communication and Data Science (C3DS) is an interdisciplinary research centre commited to improving strategic communications to deliver meaningful action on climate change.</h2>
                    </div>
                </div>
            </div>

            <div class="row body-content">
                <div class="homepage-container">
                    <h1>Latest News</h1>
                    <a href="#" class="hover-link">Read more...</a>
                </div>
                <div class="container-fluid d-flex justify-content-center row row-cols-2 row-cols-sm-2 row-cols-md-3">
                    {% for item in news_card_objects|slice:"0:3" %}
                        <div class="card news-card my-3">
                            <img class="card-img-top overview-img" src="{{ item.card_image.url }}" alt="Card image cap">
                            <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p><em>{{ item.date }}</em></p>
                            <p class="card-text pb-2">{{ item.summary }}</p>
                            <a href="{{ item.url }}" class="btn news-btn">Read Now</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    <!-- Twitter Feed -->
        <!-- <div class="col-md-2 mr-4 twitter-display">
            <div class="row">
                <section class="">
                    <div class="">
                        <div class="text-left pt-3 twitter-display">
                            <h1 class="my-3">Follow us on Social Media</h1>
                        </div>
                        <div class="">
                            <a class="twitter-timeline" data-height="625" data-width="auto"
                                href="https://twitter.com/SaffronJONeill?ref_src=twsrc%5Etfw">Tweets by
                                SaffronJONeill</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </section>
            </div>
        </div> -->
    </section>

    <!-- Objectives -->
    <section class="overflow mt-2 section-bkgrd justify-content-center">
        <h1 class="my-4 text-center section-header pt-4"><strong>Our Objectives</strong></h1>
        <div class="row objective-container justify-content-center">
            <div class="col-md-7 col-sm-12 d-flex justify-content-center">
                <img src="https://res.cloudinary.com/ddqyimddv/image/upload/v1694777866/cyclegraphic_kecowt.png"
                    class="graphic" alt="">
            </div>
            <div class="col-md-5 col-sm-12 d-flex justify-content-center">
                <div class="mt-4 pt-4 flex-column">
                    <div class="col-12 col-sm-3 text-center objective-inner">
                        <h2 class="pt-1">ENGAGING</h2>
                        <p>strategic actors and communicators to improve media practice</p>
                    </div>
                    <div class="col-12 col-sm-3 mx-2 py-2 text-center objective-inner">
                        <h2 class="pt-1">EVALUATING</h2>
                        <p>strategic communications by a range of diverse actors</p>
                    </div>
                    <div class="col-12 col-sm-3 text-center objective-inner">
                        <h2 class="pt-1">UNDERSTANDING</h2>
                        <p>the digital media ecosystem around climate change</p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </section>


    <!-- Contact -->
    <section class="contact-section">
        <div class="container-fluid body-content">
            <div class="text-left py-3">
                <h1 class="my-3"><strong>Working with C3DS</strong></h1>
                <p>If you are an organisation that could benefit from applying data science and/or social science
                    methods to measure, monitor, and evaluate the impact of your strategic communication, please get in
                    touch</p>

                <h2><strong>Contact</strong></h2>
                <p>Email the Centre team at <a href="mailto:c3ds@exeter.ac.uk" class="link-colour">c3ds@exeter.ac.uk</a> for
                    more information or to set up a meeting</p>
            </div>
        </div>
    </section>

</div>

{% endblock %}