@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300&family=Montserrat:ital,wght@0,200;0,300;0,500;1,300&display=swap');

/* Base styles */
body {
    font-family: Barlow , sans-serif;
    color: black;
}

i {
    color: #648A8B;
    font-size: 18px;
}

.logo {
    width: 200px;
    height: auto;
}

a {
    text-decoration: none;
    color: #252525;
}

h1 {
    font-family: Montserrat, sans-serif;
    font-size: 21px;
    /* text-transform: uppercase; */
}

.page-title {
    font-size: 18px;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
}

p {
    font-size: 16px;
}

.link-colour {
    color: blue;
}

.page-title {
    font-weight: 300;
}

.overflow {
    overflow: hidden;
}

.screen-break-top {
    opacity: 0.5;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.screen-break-bottom {
    opacity: 0.8;
}

.section-bkgrd {
    background: url('https://res.cloudinary.com/ddqyimddv/image/upload/e_gradient_fade:44,o_12/v1694782263/background_jsnuik.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

/* Carousel styles */
.hero-tagline {
    background-color: #648A8B;
    font-size: 22px;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    height: 40px;
    align-self: center;
}

/* Overview */
.body-content {
    max-width: 1400px;
    margin: auto;
}

.inner-section-container {
    max-width: 1180px;
    margin: auto;
}

.subtext h2 {
    font-weight: 350;
}

.card-container {
    margin: auto;
}

.card-title {
    text-align: left;
    font-size: 1.2rem;
    padding: 8px 0;
}

.card-body {
    max-width: 400px;
    padding: 5px;
    border-radius: 15px;
    margin: auto;
}

.card-img {
    border-radius: 15px;
    max-width: 300px;
    max-height: auto;
    margin: auto;
}

.graphic {
    width: 300px;
    height: auto;
    /* margin-left: 30px;
    padding-left: 30px;
    padding-top: 10px; */
}

.objective-container {
    max-width: 1200px;
    margin: auto;
}

.objective-inner {
    width: 400px;
}

.objective-inner {
    width: 400px;
}

.section-title {
    max-width: 900px;
}

/* Twitter feed */
.twitter-container {
    max-width: 300px;
    background-color: rgba(100, 138, 139, 0.7);
    border-radius: 10px;
    color: white;
    display: none;
}

.twitter-outer {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.twitter-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* Contact section on homepage */


/* People Page */
.profile-img-container {
    padding-top: 40px;
}

.profile-img, .expertise {
    max-width: 250px;
}

.profile-body {
    justify-content: center;
    padding: 30px 30px 5px 5px;
}

.profile-title {
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 1.2rem;
    padding: 8px 0;
}

.profile-text {
    text-align: center;
}

/* Footer */
.social-media-links {
    margin: 0 5px;
}

.social-media-links i {
    font-size: 22px;
}

.footer-text {
    font-size: 14px;
}

/* Media queries */
@media (min-width: 768px) {
    .twitter-container {
        display: block;
    }

    .graphic {
        width: 400px;
    }

    .profile-body {
        padding: 30px 30px 5px 10px;
    }

    .profile-container {
        max-width: 1100px;
        border: 1px solid black;
    }

    .profile-title, .profile-text {
        text-align: left;
    }
} 

@media (min-width: 992px) {
    .card-body {
        max-width: 500px;
    }
    .hero-tagline {
        font-size: 26px;
        padding-top: 8px;
        height: 60px;
    }
    .profile-body {
        max-width: 650px;
    }
} 

@media (min-width: 1400px) {
    .page-title {
        font-size: 24px;
    }
}