@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* Base styles */
body {
    font-family: Roboto , sans-serif;
    color: black;
}

nav {
    max-width: 1500px;
    margin: auto;
    padding: 0;
}

.nav-link, .dropdown-item {
    color: black;
}

i {
    color: #648A8B;
    font-size: 18px;
}

.logo {
    width: 200px;
    height: auto;
}

.navbar-brand {
    margin: 0;
}

.centre-logo {
    width: 150px;
    height: auto;
}

a {
    text-decoration: none;
    color: #252525;
}

h1 {
    font-size: 25px;
}


h2 {
    font-size: 17px;
}

p {
    font-size: 16px;
}

.page-title {
    font-size: 18px;
}

.page-container {
    max-width: 1500px;
    margin: auto;
}

.link-colour {
    color: blue;
}

.hover-link:hover {
    text-decoration: underline;
    color: blue;
}

.page-title {
    font-weight: 300;
    line-height: 150%;
}

.overflow {
    overflow: hidden;
}

.section-bkgrd {
    background: url('https://res.cloudinary.com/ddqyimddv/image/upload/e_gradient_fade:44,o_12/v1694782263/background_jsnuik.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.line-break {
    max-width: 1000px;
    margin: auto;
}

.banner {
    background-color: #C7D6D6;
    width: 100%;
    height: 10vh;
}

.banner-title {
    padding-left: 10px;
}

.grow { 
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

/* Carousel styles */
.hero-tagline {
    background-color: #648A8B;
    font-size: 22px;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    height: 40px;
    align-self: center;
}

/* Overview */
.body-content {
    max-width: 1400px;
    margin: auto;
}

.inner-section-container {
    max-width: 1180px;
    margin: auto;
}

.subtext h2 {
    font-weight: 350;
}

.card-container {
    margin: auto;
}

.card-heading {
    text-align: left;
    font-size: 1.2rem;
    padding: 8px 0;
}

.card-inner {
    max-width: 400px;
    padding: 5px;
    border-radius: 15px;
    margin: auto;
}

.overview-img {
    border-radius: 15px;
    max-width: 300px;
    max-height: auto;
    margin: auto;
}

.graphic {
    width: 300px;
    height: auto;
    /* margin-left: 30px;
    padding-left: 30px;
    padding-top: 10px; */
}

.objective-container {
    max-width: 1200px;
    margin: auto;
}

.objective-inner {
    width: 400px;
}

.objective-inner {
    width: 400px;
}

.section-title {
    max-width: 900px;
}

/* Twitter feed */
.twitter-container {
    max-width: 300px;
    background-color: rgba(100, 138, 139, 0.7);
    border-radius: 10px;
    color: white;
    display: none;
}

.twitter-outer {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.twitter-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* Contact section on homepage */


/* People Page */
.profile-section {
    max-width: 1500px;
   
}

.profile-box {
    position: relative;
    height: auto;
    margin-bottom: 20px;
    justify-content: center;
}

.profile-box img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid #FFFFFF;
    position: relative;
    float: right;
    top: -44px;
    right: -50px;
    shape-outside: circle(50%);
}

.profile-card {
    max-width: 350px;
    min-height: 400px;
    background-color: #C7D6D6;
    margin-bottom: 60px;
}

.profile-job-title {
    font-size: 18px;
}

.acc-button {
    color: black;
    position: absolute;
    bottom: 50px;
    left: 25px;
}

.acc-box {
    margin-bottom: 85px;
}

.acc-card {
    background-color: #DBE5E5;
}

/* Publications Page */
.pub-container {
    max-width: 1200px;
}

.pub-inner {
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.pub-img {
    width: 90%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    /* padding: 5px; */
}

.pub-img-container {
    padding-top: 20px;
}

.pub-button {
    max-width: 150px;
}

/* Publications Search */


/* Footer */
footer {
    background-color: #fff;
    /* position: absolute; */
    right: 0;
    left: 0;
    bottom: 0;
}

.social-media-links {
    margin: 0 5px;
}

.social-media-links i {
    font-size: 22px;
}

.footer-text {
    font-size: 14px;
}

/* Media queries */
@media (min-width: 576px) {
    .profile-card {
        margin-right: 60px;
    }
}

@media (min-width: 768px) {
    .line-break {
        max-width: 100%;
    }
    .twitter-container {
        display: block;
    }
    .graphic {
        width: 400px;
    }
    .pub-container {
        padding-left: 50px;
    }
    .pub-inner {
        align-items: flex-start;
        justify-content: start;
    }
} 

@media (min-width: 992px) {
    .card-body {
        max-width: 500px;
    }
    .hero-tagline {
        font-size: 26px;
        padding-top: 8px;
        height: 60px;
    }
    .profile-body {
        max-width: 650px;
    }
} 

@media (min-width: 1200px) {
    /* .centre-logo {
        right: 180px;
    } */
}

@media (min-width: 1400px) {
    .page-title {
        font-size: 24px;
    }
}