{% extends 'base.html' %}

{% block content %}
<div class="banner">
    <div class="page-container d-flex align-items-center">
        <h1 class="m-3 pt-2 text-left banner-title"><strong>About</strong></h1>
    </div>
</div>

<section class="container-fluid about-section">
    <br>
    <div class="row d-flex page-container">
        <!-- <div class="col-12 col-md-6">
            <div>
                <img src="" alt="" class="about-img">
            </div>
        </div> -->
        <div class="col m-2 p-2 justify-content-center">
            <p>Climate change is one of the foremost challenges of our time. People around the world know about climate change, care about the issue, and want to see climate action. Yet, the scale of action is still far behind what is required to ensure a sustainable future.<br></p>

            <p>Interactions on digital media are a key part of understanding the barriers and opportunities to climate action. Whilst there has been substantial academic research into the communication of climate change (albeit highly dispersed across disciplines), as well as leaps in understanding in the computational social sciences, there is no focussed activity at the nexus of climate communications and the digital sphere. Similarly, there is limited engagement between academics and practitioners working in digital climate communication - leading to less than satisfactory outcomes as communities of practice talk past each other.<br></p>

            <p>C3DS will work at the intersection of data science, AI and climate communication, with a diverse and global stakeholder community. Our activity will be grounded in sector-leading practices to ensure our activities are compatible with EDI best-practice, net zero and sustainability goals.
            </p>
        </div>
    </div>
</section>
{% endblock %}