{% extends 'base.html' %}

{% block content %}

<section class="container-fluid">
    <h1 class="my-3 pb-3 text-center"><strong>Contact</strong></h1>
    <br>
    <h2 class="text-center">Full contact details will be coming soon</h2>

    <h2 class="text-center">In the meantime...</h2>
    <p class="text-center">If you are an organisation that could benefit from applying data science and/or social science methods to measure, monitor, and evaluate the impact of your strategic communication, please get in touch!</p>
    
    <h2 class="text-center"><strong>Contact</strong></h2>
    <p class="text-center">Prof. Coan at <a href="mailto:t.coan@exeter.ac.uk" class="link-colour">t.coan@exeter.ac.uk</a> for more information or to set up a meeting</p>

</section>
{% endblock %}