{% extends 'base.html' %}

{% block content %}

<section class="container-fluid profile-section">
    <h1 class="m-3 text-left"><strong>People</strong></h1>

    <div class="mx-3">
        <h3 class="text-left my-3">Centre Directors</h3>
        <div class="container-fluid pt-3">
            <div class="row profile-box">
                {% for item in profile_list %}
                {% if item.job_category == 'Centre Director' %}
                    <div class="card profile-card col-md-6 col-lg-4">
                        <div class="card-body">
                            <img src="{{ item.profile_pic.url }}" alt="">
                            <h4 class="profile-title">{{ item.name }}</h4>
                            <h4 class="profile-job-title mb-2 text-muted">{{ item.job_title }}</h4>
                            <p>Expertise: {{ item.expertise }}</p>
                            <p>{{ item.summary | safe | truncatewords_html:20 }}</p>
                    
                            <button class="btn btn-outline-dark acc-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSummary{{item.pk}}" aria-expanded="false" aria-controls="collapseExpertise{{item.pk}}">
                                Full Bio
                            </button>
                            <div class="collapse acc-box" id="collapseSummary{{item.pk}}">
                                <div class="card card-body acc-card">
                                  {{ item.summary | safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div> 
    </div>

    <div class="mx-3">
        <h3 class="text-left my-3">Researchers</h3>
        <div class="container-fluid pt-3">
            <div class="row profile-box">
                {% for item in profile_list %}
                {% if item.job_category == 'Researchers' %}
                    <div class="card profile-card col-md-6 col-lg-4">
                        <div class="card-body">
                            <img src="{{ item.profile_pic.url }}" alt="">
                            <h4 class="profile-title">{{ item.name }}</h4>
                            <h4 class="profile-job-title mb-2 text-muted">{{ item.job_title }}</h4>
                            <p>Expertise: {{ item.expertise }}</p>
                            <p>{{ item.summary | safe | truncatewords_html:20 }}</p>
                    
                            <button class="btn btn-outline-secondary acc-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSummary{{item.pk}}" aria-expanded="false" aria-controls="collapseExpertise{{item.pk}}">
                                Full Bio
                            </button>
                            <div class="collapse acc-box" id="collapseSummary{{item.pk}}">
                                <div class="card card-body acc-card">
                                  {{ item.summary | safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div> 
    </div>

</section>

{% endblock %}