{% extends 'base.html' %}

{% block content %}
<div class="banner d-flex align-items-center">
    <div class="page-container">
        <h1 class="m-3 text-left banner-title"><strong>People</strong></h1>
    </div>
</div>

<section class="container-fluid mx-auto profile-section">
    <div class="mx-3">
        <div class="container-fluid my-4 pt-3">
            <div class="row profile-box">
                {% for item in profile_list %}
                    <div class="card profile-card col-md-6 col-lg-4">
                        <div class="card-body">
                            <img src="{{ item.profile_pic.url }}" alt="">
                            <h4 class="profile-title">{{ item.name }}</h4>
                            {% if item.job_category == 'Centre Director' %}
                                <h5 class="profile-title"><em>{{ item.job_category }}</em></h5>
                            {% endif %}
                            <h4 class="profile-job-title mb-2">{{ item.job_title }}</h4>
                            <p class="pt-2"><em>Expertise: {{ item.expertise }}</em></p>
                    
                            <button class="btn btn-outline-dark acc-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSummary{{item.pk}}" aria-expanded="false" aria-controls="collapseExpertise{{item.pk}}">
                                Show Bio
                            </button>
                            <div class="collapse acc-box" id="collapseSummary{{item.pk}}">
                                <div class="card card-body acc-card">
                                  {{ item.summary | safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div> 
    </div>

</section>

{% endblock %}